@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;400;500;600;700;800&display=swap');
*
{
  margin: 0px;
  /* padding: 0px; */
  font-family: 'Noto Sans', sans-serif;
}
:root
{
    --main-clr:#f0f0f2;
    --bg-clr: #4A4A4B;
    --font-clr:orangered;
}
.topSection
{
    margin: 20px 20px;
    padding: 5px 5px;
   
}
.topSectionBox
{
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
     padding: 5px 5px;
}

.linksStyling
{
    text-decoration: none;
    color: #4A4A4B;
    margin-right: 15px;
    font-size: 20px;
    font-weight: 500;
}

.heading1
{
    font-size: 25px;
    font-weight: 700;
}
.contentBox1
{
    margin-top: 9%;
    padding: 15px;
}
.login-box
{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px 15px;
    max-width: 400px;
    margin: auto;
    background-color: var(--main-clr);
    border-radius: 5px ;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.login-box input,p,button
{
    margin: 10px 10px;
}
.login-box input
{
    background-color: var(--main-clr);
    border: none;
    outline: none;
  border-bottom: 2px solid #185464;
  font-size: larger;
}
.buttonSty
{
    border: 0;
    background-color:var(--font-clr);
    padding: 5px 8px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    color: #f0f0f2;
}