.filterBox {
  position: sticky;
  top: 0;
  bottom: 0;
  height: 100vh;
  border-right: 5px solid #185464;
}
.productBox {
  display: flex;
}
.productImages img {
  height: 200px;
  border-radius: 5px;
  cursor: pointer;
  /* width: 350px; */
}
.producBoxCards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 50px;
  gap: 30px;
}
.producBoxCards p {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
.producBoxCards button {
  border: 0;
  background-color: var(--font1-clr);
  padding: 10px 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  color: whitesmoke;
}
.prdCards {
  padding: 10px 10px;
  margin: 2px 15px;
  border-radius: 5px;
}
.prdCards:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
@media (max-width: 450px) {
  .productImages img {
    height: 150px;
  }
}
@media (max-width: 700px) {
  .filterBox {
    display: none;
    border-right: 0;
  }
}
@media (min-width: 700px) {
  .menuBar {
    display: none;
  }
  .smalFilterPage {
    display: none;
    position: fixed;
    z-index: 1;
    height: 50vh;
  }
}
